header {
text-align: center;
color: whitesmoke;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}
body {
    background-color: rgb(60, 3, 114);
}
header h1 {
    font-size: 48px;
}

.card-img-top {
    height: 300px;
    width: 250px;
}

a.nav-item.nav-link.header-links {
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-right {
    justify-content: flex-end;
}

.container {
    background-color: rgba(216, 223, 118, 0.822);
    margin-top: 2rem;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.portfolio-img {
    display: flex;
    justify-content: space-evenly;
    padding: 10px
}

.portfolio-text {
    text-align: center;
}