header {
text-align: center;
color: whitesmoke;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}

header h1 {
    font-size: 48px;
}

.card-img-top {
    height: 300px;
    width: 250px;
}